.Container {
    display: flex;
    flex-direction: column;
}


.Header {
    width: 426px;
    height: 24px;
    left: 277px;
    top: 27.5px;

    /* H3 */

    font-family: 'Assistant';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */

    text-align: right;
    margin-right: 20px;

    /* black */

    color: #212121;
}

